.pageContainer {
    padding-left: 16px;
    padding-right: 16px;
}

.categoriesHeader {
    color: var(--color-white);
}

.categoryGrid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-dark);
    border-radius: 30px;
    height: 180px;
}

.categoryName {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--color-white);
}
